/* app.css */

/* Default styles */
body {
  --background-color: white;
  --text-color: black;
  background-color: var(--background-color);
  color: var(--text-color);
}

.home {
  background-color: white;
  color: black;
}

/* Night mode styles */
body.night-mode {
  --background-color: #121212;
  --text-color: white;
}

.night-mode .home {
  background-color: #121212;
  color: white;
}
