// css/About.scss

.about-section {
  padding: 5rem 0;
}

.about-image {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.podcaster {
  margin-bottom: 5rem;
  text-align: center;
}

.subscribe-section {
  padding: 5rem 0;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
}

.subscribe-form {
  margin-top: 3rem;
}
