// css/Contact.scss

.contact-section {
  padding: 5rem 0;
}

.contact-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.contact-info {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.subscribe-section {
  padding: 5rem 0;
  background-color: #f3f4f6;
}

.subscribe-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 0.5rem;
}

.subscribe-form input {
  color: #ffffff;
}

.subscribe-form button {
  margin-top: 1rem;
}

.contact-info {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.contact-info p {
  margin-bottom: 1rem;
}

.contact-info a {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline; /* Underline on hover */
}
