.header {
  background-color: white;

  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }

  .brand {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;

    span {
      color: rgb(115, 115, 209);
    }
  }

  .nav-links {
    display: flex;
    gap: 16px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    .nav-button {
      color: black;
      text-transform: none;
      font-weight: 500;
      &:hover {
        color: blue;
        background-color: transparent;
      }
    }
  }

  .menu-icon {
    color: black;
  }

  .menu {
    .MuiPaper-root {
      background-color: white;
      color: black;
    }
  }

  // Night mode styles
  &.night-mode {
    background-color: black; // Example night mode background color
    color: white; // Example night mode text color

    .brand {
      color: white; // Example night mode brand color
      span {
        color: rgb(115, 115, 209); // Example night mode span color
      }
    }

    .nav-button {
      color: white; // Example night mode nav button color
      &:hover {
        color: lightblue; // Example night mode nav button hover color
        background-color: transparent;
      }
    }

    .menu-icon {
      color: white; // Example night mode menu icon color
    }

    .menu {
      .MuiPaper-root {
        background-color: black; // Example night mode menu background color
        color: white; // Example night mode menu text color
      }
    }
  }
}
